body{
  background-color: hsl(0, 0%, 11%);
  color: whitesmoke;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
li{
  list-style-type: none;
}
header{
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: hsl(0, 0%, 7%) ;
  }
header img{
  height: 40px;
  padding: 10px; 
}
h3{
  color: aquamarine;
}
header nav{
  display: flex;
  justify-content: space-around;
  margin-left: auto;
}
header nav li{
  margin-right: 5px;
  width: 70px;
  text-align: center;
}
@media (max-width: 550px){
  header nav li{
      font-size: 12px;
      width: 49px;
  }
}
header nav li:hover{
  color: aquamarine;
  cursor: pointer;
}